<?xml version="1.0" encoding="UTF-8"?><?pde version="3.6"?><target name="eclips3.8">
<locations>
<location path="\\emea.corpdir.net\EMTC\PRJ\J-Z\Sma2PLMx\java_deps\e3.8" type="Directory"/>
</locations>
</target>